.pink-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item {
    padding: 40px 120px;
}

.whole {
    margin-top: 60px;
    margin-bottom: 60px;
}

.price {
    color: #ff136f;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #ff589b, #ff136f);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.cat1 {
    background-image: linear-gradient(to right, darkorange, orange);
}

.cat2 {
    background-image: linear-gradient(to right, #ff136f, #ff589b);
}

.cat3 {
    background-image: linear-gradient(to right, forestgreen, mediumseagreen);
}

.categories h1 {
    color: white;
}

.categories img {
    width: 100px;
}

.card-text {
    text-align: justify;
}

.card-buy:hover {
    background-image: linear-gradient(to bottom, #df75ff, #c505ff);
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}

.card-footer {
    border: none;
}

#shoes {
    margin-top: 20px;
    margin-bottom: 60px;
}

#backpack {
    margin-top: 80px;
    margin-bottom: 80px;
}

#subscribe {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.input-box {
    border-radius: 5px;
    border: none;
    padding: 10px;
    size: 40;
    border: 1px solid lightgray;
}

footer p{
    text-align: center;
}

