.pink-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item {
    padding: 40px 120px;
}

.whole {
    margin-top: 60px;
    margin-bottom: 60px;
}

.price {
    color: #ff136f;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #ff589b, #ff136f);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.cat1 {
    background-image: linear-gradient(to right, darkorange, orange);
}

.cat2 {
    background-image: linear-gradient(to right, #ff136f, #ff589b);
}

.cat3 {
    background-image: linear-gradient(to right, forestgreen, mediumseagreen);
}

.categories h1 {
    color: white;
}

.categories img {
    width: 100px;
}